<style>
    /* Footer */
    footer {
        padding: 20px 40px;
        color: var(--black);
    }
    footer a,
    footer button {
        color: var(--black);
    }
    footer .row {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
    }
    /* LEFT */
    footer .row .left {
        position: relative;
    }
    footer .row .left img {
        width: 200px;
    }
    /* CENTER */
    footer .row .center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: space-between;
            -ms-flex-align: space-between;
                align-items: space-between;
        text-align: center;
    }
    footer .row .center .email form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    footer span.large {
        font-family: var(--serif-font);
        font-size: 2.4rem;
        margin: 0 0 14px 0;
    }
    footer .row .center .email input[type="text"],
    footer .row .center .email input[type="email"] {
        background: transparent; 
        border-top: 0;
        border-right: 0;
        border-bottom: 1px solid var(--black);
        border-left: 0;
        border-radius: 0px;
        margin: 0 0 14px 0;
        text-align: center;
        padding: 0 0 4px 0;
        width: 80%;
        max-width: 300px;
    }
    footer .row .center .email input[type="text"]::-webkit-input-placeholder,
    footer .row .center .email input[type="email"]::-webkit-input-placeholder {
        color: var(--black);
        text-transform: uppercase;
    }
    footer .row .center .email input[type="text"]::-moz-placeholder,
    footer .row .center .email input[type="email"]::-moz-placeholder {
        color: var(--black);
        text-transform: uppercase;
    }
    footer .row .center .email input[type="text"]:-ms-input-placeholder,
    footer .row .center .email input[type="email"]:-ms-input-placeholder {
        color: var(--black);
        text-transform: uppercase;
    }
    footer .row .center .email input[type="text"]::-ms-input-placeholder,
    footer .row .center .email input[type="email"]::-ms-input-placeholder {
        color: var(--black);
        text-transform: uppercase;
    }
    footer .row .center .email input[type="text"]::placeholder,
    footer .row .center .email input[type="email"]::placeholder {
        color: var(--black);
        text-transform: uppercase;
    }
    footer .row .center .email input[type="submit"],
    footer .row .center .email button[type="submit"] {
        background: transparent;
        border: 1px solid var(--black);
        padding: 6px;
        text-transform: uppercase;
        color: var(--black);
        width: auto;
        cursor: pointer;
        transition: all 0.5s;
    }
    footer .row .center .email input[type="submit"]:hover,
    footer .row .center .email button[type="submit"]:hover {
        opacity: 0.6;
    }
    footer .row .center a {
        text-transform: uppercase;
        margin: 30px 0 0 0;
    }
    /* RIGHT */
    footer .row .right {
        display: flex;
        flex-direction: column;
    }
    footer .row .quick-links {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
            -webkit-box-align: stretch;
            -ms-flex-align: stretch;
        width: 100%;
        height: 100%;
    }
    footer .row .quick-links ul {
        display: flex;
            display: -webkit-box;
            display: -ms-flexbox;
        flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
        justify-content: space-between;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
        height: 100%;
    }
    footer .row .quick-links .r ul {
        padding: 0 0 0 40px;
    }
    a.instagram-desktop {
        display: block;
    }
    a.instagram-mobile {
        display: none;
        text-align: left;
    }
    a.instagram-desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    a.instagram-desktop svg {
        stroke: var(--white);
        fill: var(--white);
        stroke-width: 0px;
        margin-top: -3px;
        margin-left: 4px;
        width: 20px;
    }

    /* ======================= MEDIA QUERIES */
    
    /* Large devices */
    @media (max-width: 1199.98px) { }
    
    /* Medium devices */
    @media (max-width: 991.98px) { }

    /* Landscape devices */
    @media (max-width: 767.98px) {
        footer {
            padding: 40px;
            color: var(--black);
            border-top: 1px solid #000;
        }
        footer .row {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap-reverse;
                -ms-flex-wrap: wrap-reverse;
            align-items: stretch;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
        }
        footer .row > div {
            width: 100%;
        }
        /* MQ: Center */
        footer .row .center {
            margin: 0 0 60px 0;
        }
        footer .row .center .email {
            align-items: flex-start;
                -webkit-box-align: start;
                -ms-flex-align: start;
            margin: 30px 0 0 0;
            width: 100%;
        }
        footer .row .center .email form {
            align-items: flex-start;
                -webkit-box-align: start;
                -ms-flex-align: start;
        }
        footer .row .center .email input[type="text"],
        footer .row .center .email input[type="email"] {
            width: 100%;
            text-align: left;
        }
        /* MQ: Right */
        footer .row .right {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 1px;
            margin: 0 0 10px 0;
        }
        footer .row .right li {
            margin: 10px 0;
        }
        a.instagram-mobile {
            display: block;
        }
        footer .center span.title-desktop,
        a.instagram-desktop {
            display: none;
        }
    }

  /* iPhones */
  @media (max-width: 575.98px) { }
</style>

{% if template == 'collection' %}

    <style>
        a.instagram-desktop svg {
            stroke: var(--black);
            fill: var(--black);
        }
    </style>
    <footer style="background: var(--green); border-top: 1px solid var(--black);">
    {% assign logo_src = 'logo.svg' %}

{% elsif page.handle == 'about-us' %}

    <style>
        a.instagram-desktop svg {
            stroke: var(--black);
            fill: var(--black);
        }
    </style>
    <footer style="background: var(--green); border-top: 1px solid var(--black);">
    {% assign logo_src = 'logo.svg' %}

{% elsif template == 'product' %}

    <footer style="background: var(--orange); border-top: 1px solid #000;">
    <style> footer { --black: #fff!important; }</style>
    {% assign logo_src = 'logo-white.svg' %}

{% elsif template == 'blog' %}

    <footer style="background: var(--orange); border-top: 1px solid #000;">
    <style> footer { --black: #fff!important; }</style>
    {% assign logo_src = 'logo-white.svg' %}

{% elsif template == 'article' %}

    <footer style="background: var(--orange); border-top: 1px solid #000;">
    <style> footer { --black: #fff!important; }</style>
    {% assign logo_src = 'logo-white.svg' %}

{% elsif template == 'cart' %}

    <footer style="background: var(--orange);">
    <style> footer { --black: #fff!important; }</style>
    {% assign logo_src = 'logo-white.svg' %}

{% else %}

    <style>
        a.instagram-desktop svg {
            stroke: var(--black);
            fill: var(--black);
        }
    </style>
    <footer style="background: var(--green);">
    {% assign logo_src = 'logo.svg' %}

{% endif %}

    <div class="row">

    {% comment %}}
    *
    * Left
    *
    {% endcomment %}
    <div class="left">
        <div class="logo">
            <a href="{{ routes.root_url }}" title="Wald">
                <img src="{{ logo_src | asset_url }}" alt="{{ shop.name }}" />
            </a>
        </div>
        <div class="description">
            <p>WALD creates one-of-a-kind wares, designed and produced in collaboration with artisans from around the world through a sustainable and ethical process.</p>
        </div>     
    </div>

    {% comment %}
    *
    * Center
    *
    {% endcomment %}
    <div class="center">
        <span class="title-desktop large">Newsletter</span>
        <a href="#" class="instagram-mobile" title="Instagram">Find us on Instagram</a>
        <div class="email">

            {% form 'customer' %}
                <input id="contact_tags" name="contact[tags]" type="hidden" value="prospect,newsletter" />

                <input id="contact_email" name="contact[email]" type="text" placeholder="Email" />
                <input class="submit" type="submit" value="Sign Up" />

                {% if form.posted_successfully? %}
                    Signed up successfully.
                {% else %}
                    {{ form.errors | default_errors }}
                {% endif %}
            {% endform %}

          

        </div>

        <script>
            jQuery(function() {
                jQuery('#contact_form').submit(function(event) {
                    even.preventDefault();
                    var data = jQuery(this).serialize();

                    // create new account
                    jQuery.post('/account', data).done(function(data) {
                        var logErrors = jQuery(data).find('.errors').text();
                        
                        if (logErrors != "" && logErrors != 'undefined') {
                            jQuery('#contact_form .errors').html(logErrors);
                            jQuery('#contact_form .errors').show();
                        } else {
                            console.log('success');
                            document.location.href = '/success';
                        }
                    }).fail(function() { console.log('error'); });
                });
            });
        </script>

        <a href="https://www.instagram.com/w.a.l.d_us/" class="instagram-desktop" title="Instagram">Find us on Instagram &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
        </svg></a>
    </div>

    {% comment %}}
    *
    * Right
    *
    {% endcomment %}
    <div class="right">

        <span class="large">Quick Links</span>
        
        <div class="quick-links">
            <div class="l">
            <ul>
                {% for link in linklists.quick-links-left.links %}
                {% assign has_sub_menu = false %}
                {% assign has_sub_categories = false %}
                {% assign parent_link_active = false %}
                {% assign child_list_handle = link.title | handle %}
                {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
                {% assign has_sub_menu = true %}
                {% for l in linklists[child_list_handle].links %}
                    {% if handle != blank and handle == l.object.handle %}
                    {% assign parent_link_active = true %}
                    {% elsif page_title == l.title %}
                    {% assign parent_link_active = true %}
                    {% endif %}
                {% endfor %}
                {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
                {% assign has_sub_categories = true %}
                {% endif %}
                <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}{% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}</a> 
                {% if has_sub_menu or has_sub_categories %}
                <ul>
                    {% if has_sub_menu %}
                    {% for l in linklists[child_list_handle].links %}
                    <li class="{% if l.active %} active{% endif %}">
                        <a href="{{ l.url }}">{{ l.title }}</a>
                    </li>
                    {% endfor %}
                    {% elsif has_sub_categories %}
                    {% for tag in link.object.all_tags %}
                    <li class="{% if current_tags contains tag %} active{% endif %}">
                        <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            </div>
            <div class="r">
            <ul>
                {% for link in linklists.quick-links-right.links %}
                {% assign has_sub_menu = false %}
                {% assign has_sub_categories = false %}
                {% assign parent_link_active = false %}
                {% assign child_list_handle = link.title | handle %}
                {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
                {% assign has_sub_menu = true %}
                {% for l in linklists[child_list_handle].links %}
                    {% if handle != blank and handle == l.object.handle %}
                    {% assign parent_link_active = true %}
                    {% elsif page_title == l.title %}
                    {% assign parent_link_active = true %}
                    {% endif %}
                {% endfor %}
                {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
                {% assign has_sub_categories = true %}
                {% endif %}
                <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
                <a href="{{ link.url }}">{{ link.title }}{% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}</a> 
                {% if has_sub_menu or has_sub_categories %}
                <ul>
                    {% if has_sub_menu %}
                    {% for l in linklists[child_list_handle].links %}
                    <li class="{% if l.active %} active{% endif %}">
                        <a href="{{ l.url }}">{{ l.title }}</a>
                    </li>
                    {% endfor %}
                    {% elsif has_sub_categories %}
                    {% for tag in link.object.all_tags %}
                    <li class="{% if current_tags contains tag %} active{% endif %}">
                        <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
                    </li>
                    {% endfor %}
                    {% endif %}
                </ul>
                {% endif %}
                </li>
                {% endfor %}
            </ul>
            </div>
        </div>
        </div>

    </div>
    <p class="copyright">&copy; 2022 WALD. All Rights Reserved.</p>
</footer>