{% comment %}
  A word on drop-down menus: Shopify has no concept of them.
  Drop-down menus in Shopify themes are a hack that relies on a naming convention.
  To create a drop-down menu, the merchant must create a link list that has the same name as the link he wants the drop-down for.
  For example, if he wants a drop-down under a 'Shop by brand' link (say, he has such link in his Main Menu), he needs to create a linklist called 'Shop by brand', and populate it with links. Once he has done that, there'll be a drop-down under 'Shop by brand'.
  Shopify has a visual how-to guide here: http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu.
  The naming convention hack won't work well if a shop's navigation uses non-English characters. There's a much more verbose coding solution that handles non-English characters here: http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/translations/can-i-have-drop-down-menus-that-use-non-english-characters.
  A word on sub-categories: Shopify manages sub-categories using product tags: http://docs.shopify.com/manual/configuration/store-customization/page-specific/collections/subcategories
{% endcomment %}

<style>
  /* Navigation */
  .site-container {
    position: relative;
  }
  .active a {
    border-bottom: 1px solid var(--black);
  }
  nav.desktop {
    padding: 10px 40px;
    /* mask: linear-gradient(#000, #000, transparent); */
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
  }
  nav.desktop::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-mask: linear-gradient(#000, #000, #000, transparent);

    backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
  }
  nav.desktop .row {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: relative;
      mask: none;
      
  }
  /* Dropdown */
  nav.desktop .has-dropdown ul {
    display: none;
    position: absolute;
    left: 0px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 99999999;
  }
  nav.desktop .has-dropdown ul a {
    text-decoration: none;
    border-bottom: 0px;
  }
  nav.desktop .has-dropdown:hover ul {
    display: flex;
  }
  nav.desktop .has-dropdown li {
    margin-left: 20px;
  }
  nav.desktop .has-dropdown li:first-of-type {
    margin-left: 0px;
  }
  nav.desktop .center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav.desktop .center a:hover {
    border-bottom: 0px;
  }
  nav.desktop .center img {
    max-width: 164px;
  }
  nav.desktop .left .first a {
    /* display: none; */
  }
  nav.desktop ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  }
  nav.desktop li {
      text-transform: uppercase;
  }
  nav.desktop li a {
    font-size: 0.8rem;
  }
  nav.desktop li.cart-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav.desktop li.cart-link img {
    width: 20px;
    margin: 0 14px 0 0;
  }
  nav.desktop .cart-link {
    cursor: pointer;
  }
  nav.desktop .cart-count {
    font-size: 0.7rem;
  }
  /* Mobile Nav */
  nav.mobile {
    display: none;
  }
  /* Cart Overlay */
  .cart-overlay {
    background: var(--light-green);
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    width: 350px;
    max-width: 50vw;
    height: 100vh;
    max-height: 100vh;
    z-index: 9999;
    border-left: 1px solid var(--black);
    -webkit-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
  }
  .cart-overlay .row {
    position: relative;
  }
  .js-my-cart-open { right: 0 !important; }

  /*
  * Submenu
  */
  .submenu-container {
    position: absolute;
    float: left;
  }
  .submenu-container ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 400px;

  }

  /* =====================================
                MEDIA QUERIES
     ===================================== */
  /* Large devices */
  @media (max-width: 1199.98px) { }
  
  /* Medium devices */
  @media (max-width: 991.98px) { }

  /* Landscape devices */
  @media (max-width: 767.98px) { 
    nav.desktop {
      display: none;
    }
    nav.mobile .logo a:focus {
      border-bottom: 0px;
    }
    nav.mobile {
      display: block;
      mask: linear-gradient(#000, #000, transparent);
        -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#000), to(transparent));
        -webkit-mask: linear-gradient(#000, #000, transparent);
      backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
      background: transparent;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 999;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    nav.mobile.mobile-open {
      background: var(--green) !important;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
      mask: none;
      -webkit-mask: none;
    }
    nav.mobile .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 10px 40px;
      position: relative;
      width: 100%;
    }
    nav.mobile .logo img {
      max-width: 120px;
    }
    /* Hamburger */
    nav.mobile .hamburger {
      position: absolute;
      right: 20px;
      margin: auto;
    }
    nav.mobile .hamburger .buns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    nav.mobile .hamburger span {
      width: 30px;
      height: 3px;
      margin: 3px 0px;
      background: var(--black);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    nav.mobile .hamburger span:last-of-type {
      margin: 3px 0 0 0;
    }
    /* Hamburger: Active */
    nav.mobile .hamburger-active span.patty { width: 0; height: 0; margin: 0; }
    nav.mobile .hamburger-active span:first-of-type {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      position: absolute;
    }
    nav.mobile .hamburger-active span:last-of-type {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    nav.mobile .close {
      display: none;
      position: absolute;
      margin: auto;
      left: 0;
    }
    /* Overlay */
    .mobile-overlay {
      display: none;
      background: var(--green);
    }
    nav.mobile .mobile-overlay .row {
      padding: 0;
    }
    .mobile-overlay-active {
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    nav.mobile .close span {
      width: 30px;
      height: 3px;
      margin: 3px 0px;
      background: var(--black);
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    .mobile-overlay ul {
      width: 100%;
      border-top: 1px solid var(--black);
    }
    .mobile-overlay li {
      padding: 20px 10px 10px 20px;
      width: 100%;
      border-bottom: 1px solid var(--black);
    }
    /* Cart Overlay */
    .cart-overlay {
      width: 100%;
      max-width: 100vw;
      border-left: 0;
    }
    nav.mobile li.cart-link img {
      width: 20px;
      margin: 0 14px 0 0;
    }

  }

  /* iPhones */
  @media (max-width: 575.98px) { }

</style>



{% if template == 'article' %}
  <nav class="desktop" role="navigation" style="background-color: var(--green); border-bottom: 1px solid var(--black); -webkit-mask: none; mask: none; -webkit-backdrop-filter: none; backdrop-filter: none;">
{% elsif template == 'collection' %}
  <nav class="desktop" role="navigation" style="background-color: var(--white); border-bottom: 1px solid var(--black); -webkit-mask: none; mask: none; -webkit-backdrop-filter: none; backdrop-filter: none;">
{% elsif template == 'blog' %}
  <nav class="desktop" role="navigation" style="background-color: var(--green); border-bottom: 1px solid var(--black); -webkit-mask: none; mask: none; -webkit-backdrop-filter: none; backdrop-filter: none;">
{% else %}
  <nav class="desktop" role="navigation">
{% endif %}
  <div class="row">

    {% comment %}
    *
    * Navbar: Left
    *
    {% endcomment %}
    <div class="left">
      <ul>
        {% for link in linklists.navbar-left.links %}

          {% assign has_sub_menu = false %}
          {% assign has_sub_categories = false %}
          {% assign parent_link_active = false %}
          {% assign child_list_handle = link.title | handle %}

          {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}

            {% assign has_sub_menu = true %}
            {% for l in linklists[child_list_handle].links %}

              {% if handle != blank and handle == l.object.handle %}
                {% assign parent_link_active = true %}
              {% elsif page_title == l.title %}
                {% assign parent_link_active = true %}
              {% endif %}

            {% endfor %}

          {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}

            {% assign has_sub_categories = true %}

          {% endif %}

          <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
            
            <a href="{{ link.url }}">
              {{ link.title }}{% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}
            </a>

            {% if has_sub_menu or has_sub_categories %}

              <ul>
                {% if has_sub_menu %}

                  {% for l in linklists[child_list_handle].links %}
                    <li class="{% if l.active %} active{% endif %}">
                      <a href="{{ l.url }}">{{ l.title }}</a>
                    </li>
                  {% endfor %}

                {% elsif has_sub_categories %}

                  {% for tag in link.object.all_tags %}
                    <li class="{% if current_tags contains tag %} active{% endif %}">
                      <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
                    </li>
                  {% endfor %}

                {% endif %}
              </ul>

            {% endif %} {% comment %} end: has_sub_menu {% endcomment %}
          </li>

        {% endfor %} {% comment %} end: for link in link-list {% endcomment %}
      </ul>

    </div>

    {% comment %}
    *
    * Navbar: Center
    *
    {% endcomment %}
    <div class="center">
      <a href="{{ routes.root_url }}" title="Wald" style="text-decoration: none !important; border-bottom: 0px !important;">
        <img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" style="mask: none; -webkit-mask: none; opacity: 1; text-decoration: none !important; border-bottom: 0px !important;" />
      </a>
    </div>

    {% comment %}
    *
    * Navbar: Right
    *
    {% endcomment %}
    <div class="right">
      <ul>
        {% for link in linklists.navbar-right.links %}
        {% assign has_sub_menu = false %}
        {% assign has_sub_categories = false %}
        {% assign parent_link_active = false %}
        {% assign child_list_handle = link.title | handle %}
        {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
          {% assign has_sub_menu = true %}
          {% for l in linklists[child_list_handle].links %}
            {% if handle != blank and handle == l.object.handle %}
              {% assign parent_link_active = true %}
            {% elsif page_title == l.title %}
              {% assign parent_link_active = true %}
            {% endif %}
          {% endfor %}
        {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
          {% assign has_sub_categories = true %}
        {% endif %}
        <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
          <a href="{{ link.url }}">{{ link.title }}{% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}</a> 
          {% if has_sub_menu or has_sub_categories %}
          <ul>
            {% if has_sub_menu %}
              {% for l in linklists[child_list_handle].links %}
              <li class="{% if l.active %} active{% endif %}">
                <a href="{{ l.url }}">{{ l.title }}</a>
              </li>
              {% endfor %}
            {% elsif has_sub_categories %}
              {% for tag in link.object.all_tags %}
              <li class="{% if current_tags contains tag %} active{% endif %}">
                <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
              </li>
              {% endfor %}
            {% endif %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}

        <li class="cart-link">
            <img src="{{ 'cart-icon.svg' | asset_url }}" alt="Cart" />
            <span>Cart</span>
        </li>

      </ul>


    </div>

  </div>

</nav>


{% comment %}
*
* Mobile Nav
*
{% endcomment %}
{% if template == 'collection' %}
    <nav class="mobile" role="navigation" style="background-color: var(--white); border-bottom: 1px solid var(--black); -webkit-mask: none; mask: none; -webkit-backdrop-filter: none; backdrop-filter: none;">
{% elsif template == 'product' %}
    <nav class="mobile" role="navigation" style="background-color: var(--green); border-bottom: 1px solid var(--black);">
{% elsif template == 'blog' %}
    <nav class="mobile" role="navigation" style="background-color: var(--green); border-bottom: 1px solid var(--black); -webkit-mask: none; mask: none; -webkit-backdrop-filter: none; backdrop-filter: none;">
{% elsif template == 'article' %}
    <nav class="mobile" role="navigation" style="background-color: var(--white); border-bottom: 1px solid var(--black); -webkit-mask: none; mask: none; -webkit-backdrop-filter: none; backdrop-filter: none;">
{% else %}
    {% if page.handle == 'about-us' %}
        <nav class="mobile" style="background-color: var(--green); border-bottom: 1px solid var(--black); -webkit-mask: none; mask: none; -webkit-backdrop-filter: none; backdrop-filter: none;">
    {% else %}
        <nav class="mobile">
    {% endif %}
{% endif %}



  <div class="row">

    <div class="close">
      close
    </div>

    <div class="logo">
      <a href="{{ routes.root_url }}" title="Wald">
        <img src="{{ 'logo.svg' | asset_url }}" alt="{{ shop.name }}" />
      </a>
    </div>

    <div class="hamburger">
      <div class="buns">
        <span>&nbsp;</span>
        <span class="patty">&nbsp;</span>
        <span>&nbsp;</span>
      </div>
    </div>

  </div>
  {% comment %}
  *
  * Mobile Overlay
  *
  {% endcomment %}
  {% if template == 'collection' %}
    <div class="mobile-overlay" style="background: var(--white);">
      <style>nav.mobile.mobile-open { background: var(--white) !important; }</style>
  {% else %}
    <div class="mobile-overlay">
  {% endif %}

    <div class="row">
      <ul>
        {% for link in linklists.mobile-overlay.links %}
        {% assign has_sub_menu = false %}
        {% assign has_sub_categories = false %}
        {% assign parent_link_active = false %}
        {% assign child_list_handle = link.title | handle %}
        {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
          {% assign has_sub_menu = true %}
          {% for l in linklists[child_list_handle].links %}
            {% if handle != blank and handle == l.object.handle %}
              {% assign parent_link_active = true %}
            {% elsif page_title == l.title %}
              {% assign parent_link_active = true %}
            {% endif %}
          {% endfor %}
        {% elsif link.type == 'collection_link' and link.object.all_tags.size > 0 %}
          {% assign has_sub_categories = true %}
        {% endif %}
        <li class="{% if link.active or parent_link_active %} active{% endif %}{% if has_sub_menu or has_sub_categories %} has-dropdown{% endif %}{% if forloop.first %} first{% elsif forloop.last %} last{% endif %}">
          <a href="{{ link.url }}">{{ link.title }}{% if has_sub_menu or has_sub_categories %} <i class="fa fa-angle-down"></i>{% endif %}</a> 
          {% if has_sub_menu or has_sub_categories %}
          <ul>
            {% if has_sub_menu %}
              {% for l in linklists[child_list_handle].links %}
              <li class="{% if l.active %} active{% endif %}">
                <a href="{{ l.url }}">{{ l.title }}</a>
              </li>
              {% endfor %}
            {% elsif has_sub_categories %}
              {% for tag in link.object.all_tags %}
              <li class="{% if current_tags contains tag %} active{% endif %}">
                <a href="{{ link.url }}/{{ tag | handle }}">{{ tag }}</a>
              </li>
              {% endfor %}
            {% endif %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
  
        <li class="cart-link" data-ajax-cart-toggle-class-button="js-my-cart-open">
            <img src="{{ 'cart-icon.svg' | asset_url }}" alt="Cart" />
            <span>Cart</span>
        </li>
  
      </ul>
    </div>
</nav>



{% comment %}
*
* Mini Cart Overlay
*
{% endcomment %}
<div class="cart-overlay">
  <div class="row">
    {% section 'mini-cart' %}
  </div>
</div>


  




