<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>
  {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  {% include 'open-graph-tags' %}
  {% include 'twitter-card' %}

  {{ content_for_header }}

  {{ 'style.scss' | asset_url | stylesheet_tag }}

  <!--[if lt IE 9]>
  {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% if template contains 'customers' %}  
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  
  <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
  {{ 'shopify_common.js'  | asset_url | script_tag }}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  <script>jQuery('html').removeClass('no-js').addClass('js');</script>

  <script src="https://unpkg.com/scrollreveal"></script>

  <script type="text/javascript">
    var onloadCallback = function() {
      grecaptcha.render('html_element', {
        'sitekey' : '6Lc7BTggAAAAAFW3V2VZnmDcgaReA5Dtugnw71Po'
      });
    };
  </script>

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  <div class="account-bar">
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
      {% else %}
        {{ 'Log in' | customer_login_link }}
        {% if shop.customer_accounts_optional %}
        or {{ 'Create an account' | customer_register_link }}
        {% endif %}
      {% endif %}
    {% endif %}
  </div>
  
  <header>
    {% comment %}
      Note on checkout link: it is a good idea to avoid linking to /checkout directly because shops that use 
      Paypal Express Checkout and/or Google Checkout have special checkout buttons on the /cart page. Also,
      special instructions for the seller are entered on the /cart page. Finally, the universal tracking code 
      of Google Analytics may not work if linking directly to the /checkout page.
    {% endcomment %}
         
    {% comment %}
      It would be nice if the logo was a shop setting, rather than a theme setting.
      But for now, it is a theme setting. The shop logo is uploaded on the theme settings page.
      Link to the theme settings page of currently published theme will always be:
      http://www.shopify.com/admin/themes/current/settings.
      To add theme settings to a theme, see this: http://docs.shopify.com/themes/theme-templates/settings
      Theme settings are added to http://www.shopify.com/admin/themes/current#config/settings.html
    {% endcomment %}

    {% comment %}
      Main Navigation 
    {% endcomment %}
    {% include 'site-nav' %}

  </header>

  {% comment %}}
    We have a template file to render.
    That's what content_for_layout is for.
  {% endcomment %}
  <main class="site-container" role="main">
    {{ content_for_layout }}
  </main>

  {% include 'footer' %}

  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
  async defer>
  </script>
  
  {{ 'shop.js'  | asset_url | script_tag }}

  {% comment %}}
    Animate on Scroll
  {% endcomment %}
  <script>
    ScrollReveal().reveal('.fade_up', {
      reset: true,
      easing: 'cubic-bezier(.1,1.19,.8,1.03)',
      distance: '24px',
      duration: 2000,
      delay: 500,
      opacity: 0,
    });
    ScrollReveal().reveal('.fade_in_delay', {
      reset: true,
      easing: 'cubic-bezier(.1,1.19,.8,1.03)',
      distance: '0px',
      duration: 3000,
      delay: 1000,
    });
  </script>

  <script type="application/json" data-ajax-cart-initial-state >
    {{ cart | json }}
  </script>
  
  <script type="module">
    import '{{ "liquid-ajax-cart-v1.9.0.js" | asset_url }}';
  </script>

  <script type="module">
    import '{{ "masonry.min.js" | asset_url }}';
  </script>

{% if template contains 'product' %}
  <script type="text/javascript" src="{{ 'jquery.zoom.min.js' | asset_url }}" defer=”defer”></script>
{% endif %}

<script>
  $(document).ready(function(){
    $('.image-zoom')
    .wrap('<span style="display:inline-block"></span>')
    .css('display', 'block')
    .parent()
    .zoom({
      url: $(this).find('img').attr('data-zoom')
    });
  });
</script>

<script>
  var grid = $('.grid').imagesLoaded( function() {
    grid.masonry({
      itemSelector: '.grid-item',
      percentPosition: true,
      columnWidth: '.grid-sizer'
    }); 
  });
</script>

  <script>
    jQuery('nav a::first-of-type').addClass('shop-link');
  </script>

  <script>

    // ViewHeight fix for mobile
    jQuery(document).ready(function() {
      jQuery('nav a::first-of-type').addClass('shop-link');
      document.querySelector(':root').style.setProperty('--vh', window.innerHeight/100 + 'px');
    });

    window.addEventListener('resize', () => { 
        document.querySelector(':root').style.setProperty('--vh', window.innerHeight/100 + 'px');
    });

    // Open Mini Menu
    jQuery('.hamburger').on('click', function() {

        jQuery('nav.mobile').toggleClass('mobile-open');
        jQuery('.hamburger').toggleClass('hamburger-active');

        if( jQuery('nav.mobile').hasClass('mobile-open') ) {
          jQuery('.mobile-overlay').fadeIn();
        } else {
          jQuery('.mobile-overlay').fadeOut();
        }
 
    });

    // Open mini-cart drawer
    $('li.cart-link').on('click', function() {
      jQuery('.cart-overlay').addClass('js-my-cart-open');
    });

    // Open drawer on 'Add to cart'
    jQuery('form.single-product').on('submit', function() {
      jQuery('.cart-overlay').addClass('js-my-cart-open');
    });

    // Close mini-cart drawer
    jQuery('.closer > .container').on('click', function() {
      jQuery('.cart-overlay').removeClass('js-my-cart-open');
    });
    
  </script>

<script>
  // Product Gallery - Scroll *WORKS*
    var wit = jQuery('ul.image-list').scrollLeft();
    var theWidth = jQuery('.image-list img').width();


    jQuery('.next').on('click', function() {
        var wit = $('ul.image-list').scrollLeft();
        wit = wit + theWidth;
        jQuery('ul.image-list').animate({ scrollLeft: wit }, 500);
        console.log(theWidth);

    });
    jQuery('.prev').on('click', function() {
        var wit = $('ul.image-list').scrollLeft();
        wit = wit - theWidth;
        jQuery('ul.image-list').animate({ scrollLeft: wit }, 500);
        console.log(theWidth)
    });  

  </script>


{% comment %}
  <script type="module">
    import { subscribeToCartSectionsUpdate } from '{{ "liquid-ajax-cart-v1.9.0.js" | asset_url }}'

    subscribeToCartSectionsUpdate( sections => {
      console.log('Sections are updated: ', sections);
    });
  </script>
{% endcomment %}

</body>

</html>