<style>
    .mini-cart {
        overflow: hidden;
        /* height: 100vh;
        max-height: 100vh; */
        height: calc(100 * var(--vh));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
    }
    /* width */
    .mini-cart::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    /* Track */
    .mini-cart::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 0px;
    }

    /* Handle */
    .mini-cart::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 0px;
    }
    /* Header */
    .mini-cart .header {
        width: 100%;
        text-align: center;
        position: relative;
    }
    .mini-cart .header a {
        font-size: 5rem;
        font-family: var(--serif-font);
        text-transform: uppercase;
    }
    .mini-cart .closer {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 6px;
        z-index: 99999;
        cursor: pointer;
    }
    .mini-cart .closer .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 4px;
        width: 30px;
        height: 30px;
    }
    .mini-cart .closer span {
        width: 20px;
        height: 2px;
        margin: 0px;
        background: var(--black);
        transition: all 0.5s;
    }
    .mini-cart .closer span:first-of-type {
        transform: rotate(45deg);
        position: absolute;
    }
    .mini-cart .closer span:last-of-type {
        transform: rotate(-45deg);
    }
    /* Mini Cart */
    .mini-cart form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .mini-cart ul.items {
        border-top: var(--border-blk);
    }
    .mini-cart li {
        border-bottom: var(--border-blk);
    }
    .mini-cart li.item {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .mini-cart .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
    .mini-cart img {
        display: block;
    }
    .mini-cart .info p {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
        font-size: 0.9rem;
    }

    /* Actions (foot) */
    .mini-cart .actions {
        background: var(--light-green);
    }
    .mini-cart .actions p {
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }
    .mini-cart .actions ul {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .mini-cart .actions li {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 12px;
    }
    .mini-cart .actions li.total {
        border-top: 1px solid var(--black);
    }
    .mini-cart .actions input[type="submit"] {
        width: 100%;
        height: 100%;
        max-height: 40px;
        background: var(--black);
        color: var(--white);
        padding: 10px 0;
        border: 0;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 1.2rem;
    }
    @keyframes appear {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
</style>

<div class="mini-cart my-cart__items">

    <div class="header">
        <div class="closer">
            <div class="container">
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </div>
        </div>
        <a href="/cart">Cart</a>
    </div>

    {% if cart.item_count > 0 %}

        <form action="/cart" method="post">
        
            <ul class="items" data-ajax-cart-section>

                {% for item in cart.items %}    
                
                {% comment %}
                Determining the handle of the collection that was last seen for the 'continue shopping' link.
                {% endcomment %}
                {% assign collection_url = item.product.collections.last.url %}
                {% if collection_url == '/collections/frontpage' or collection_url == blank %}
                    {% assign collection_url = '/collections/all' %}
                {% endif %}
                
                {% if forloop.first %}
                    {% assign continue_shopping_url = collection_url %}
                {% endif %}

                    <li class="item">
                      
                        <div class="image">
                            <a href="{{ collection_url }}{{ item.url }}">
                                <img src="{{ item | img_url: 'compact' }}"  alt="{{ item.title | escape }}" />
                            </a>
                        </div>
                
                        <div class="info">
                            <div class="title">
                                <p>{{ item.product.title }}</p>
                                <p>{{ item.variant.title }}</p>
                            </div>
                            <div class="price">
                                <p>{{ item.price | money }} <small>x {{ item.quantity }}</small></p>
                            </div>
                        </div>
  
                    </li>

                {% endfor %}

            </ul>
        
            {% comment %}
            For the checkout and update buttons to work, they need to use
            a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
            {% endcomment %}
            <div class="actions">
                <ul>
                    <li class="total">
                        <p>Total</p> 
                        <p>{{ cart.items_subtotal_price | money }}</p>
                    </li>

                    <li class="tax">
                        {% assign VATFreeTotal = cart.total_price | times: 0.0725 %}
                        <p>Tax</p> 
                        <p>{{ VATFreeTotal | money }}</p>
                    </li>

                    <li class="subtotal">
                        <p>Subtotal</p>
                        <p>{{ cart.items_subtotal_price | plus: VATFreeTotal | money }}</p>
                    </li>
                </ul>

                <input type="submit" name="checkout" value="Check out" />    

            </div>

        </form>

    {% else %}

        <h2>It appears that your cart is currently empty!</h2>
        <h3>You can continue browsing <a href="/collections/all">here</a>.</h3>

    {% endif %}
    
</div>