{% comment %}
  Very important reading:
  http://docs.shopify.com/themes/liquid-basics/what-is-true-and-false-in-liquid
  Learn how to read theme settings in your theme.
{% endcomment %}

<style>
  .account-bar {
    display: none;
  }
  /* Home Products */
  section.home-products {
    background: var(--green);
    text-align: center;
    border-bottom: 1px solid var(--black);
    position: relative;
    z-index: 991;
    padding: 1px;
  }
  section.home-products h2 {
    font-size: 3rem;
  }
  section.home-products .product-list {
    background: var(--white);
    width: 100%;
    padding: 10px 0;
  }
  /* Home Products: List */
  section.home-products .product-list ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px 40px;
  }
  a.product-img-link:hover {
    border-bottom: 0px;
  }
  section.home-products .product-list li {
    padding: 1px;
  }
  section.home-products .product-list li img {
    width: 100%;
    height: 340px;
    max-height: 340px;
    object-fit: cover;
  }
  section.home-products .product-list .title a:hover {
    text-decoration: underline;
  }
  section.home-products .product-list .price a:hover {
    border-bottom: 0px;
  }
  section.home-products .product-list li .info {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-start;
  }
  section.home-products .product-list li p {
    margin: 0;
    padding: 0;
    text-align: left;
  }
  section.home-products .product-list li .price {
    text-align: right;
  }
  section.home-products .product-list li .price span {
    font-family: var(--serif-font);
  }

  /* Home Products: View all */
  section.home-products a.view-all-link--desktop {
    text-align: center;
    padding: 0 0 10px 0;
  }
  a.view-all-link--desktop h3,
  a.view-all-link--mobile h3 {
      font-size: 3rem;
      transition: all 0.5s;
  }
  a.view-all-link--desktop h3:hover,
  a.view-all-link--mobile h3:hover {
      opacity: 0.3 !important;
  }
  a.view-all-link--mobile {
      display: none;
  }
  section.home-products .view-all h3 {
    margin: 0;
    padding: 0;
  }
  /* View All */
  .view-all {
    padding: 20px 0px;
  }

  /* ======================= MEDIA QUERIES */

  /* Large devices */
  @media (max-width: 1199.98px) { }
  
  /* Medium devices */
  @media (max-width: 991.98px) { }

  /* Landscape devices */
  @media (max-width: 767.98px) {
    section.home-products .product-list ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    section.home-products .product-list li {
      width: 100%;
    }
    a.view-all-link--desktop {
      display: none;
    }
    a.view-all-link--mobile {
      display: block;
    }
  }

  /* iPhones */
  @media (max-width: 575.98px) { }
</style>

{% section 'hero-section' %}

<section class="home-products">
  <div class="row">
  
    <div style="padding: 1px;">
      <h2 class="fade_up">New Arrivals</h2>
    </div>

    <div class="product-list">

      <ul>
        {% for product in collections.new-arrivals.products limit: 4 %}

          <li>
            <a class="product-img-link" href="{{ product.url }}" title="{{ product.title }}">
              <img src="{{ product.featured_image | img_url: "large" }}" alt={{ product.title }}>
            </a>

            <div class="info">

              <div class="title">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  <p>{{ product.title }}</p>
                </a>
              </div>

              <div class="price">
                <a href="{{ product.url }}" title="{{ product.title }}">
                  <span>{{ product.price |  money_without_trailing_zeros }}</span>
                </a>
              </div>

            </div>
          </li>

        {% endfor %}
      </ul>
    </div>

    <div class="view-all">
      <a class="view-all-link--desktop" href="{{ shop.url }}/collections/all" title="View all products">
        <h3>View all products</h3>
      </a>
      <a class="view-all-link--mobile" href="{{ shop.url }}/collections/all" title="View all products">
        <h3>View all</h3>
      </a>
    </div>
  </div>

  {{ page.content }}

</section>