{% comment %}
To Finish:

- UL Slideshow for Product Images
{% endcomment %}

<style>
  .single-product {
    font-size: 1rem;
  }
  /* Product */
  .single-product .row {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: stretch;
  }
  .single-product .images {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .single-product .images ul {
    width: 100%;
    position: relative;
    overflow-x: scroll;
    /* scroll-snap-type: x mandatory; */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  /* width */
  .single-product .images ul::-webkit-scrollbar {
    display: none;
  }

  /* Track */
  .single-product .images ul::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
    border-radius: 0px;
    background: var(--green);
    height: 4px;
  }

  /* Handle */
  .single-product .images ul::-webkit-scrollbar-thumb {
    background: var(--light-green);
    border-radius: 0px;
    height: 2px;
  }

  .single-product .images ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .single-product .images li {
    display: inline;
    scroll-snap-align: start;
    transform-origin: center center;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
  }
  .single-product .images li img {
    object-fit: cover;
    width: 50vw;
    min-height: 100vh;
    height: 100%;
  }
  .single-product .control {
    position: absolute;
    bottom: 10px;
    z-index: 9;
    user-select: none;
  }
  .single-product .control svg {
    width: 14px;
  }
  .single-product .control.next {
    right: 14px;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
  }
  .single-product .control.prev {
    right: 50px;
    transform: rotateY(180deg);
  }
  /* Info */
  .single-product .row .info {
    background: var(--green);
    padding: 20px 20px 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .single-product h1 {
    font-size: 2.4rem;
    margin: 0 0 6px 0;
  }
  .single-product .description {
    max-width: 400px;
  }
  .single-product .description p {
    font-size: 0.9rem;
  }
  .single-product .actions {
    display: inline-block;
  }

  /* Variants */
  ul.variants-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .switch-field {
    display: flex;
    overflow: hidden;
    margin: 0 10px 0 0;
  }
  .switch-field:last-of-type {
    margin: 0;
  }
  .switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
  }
  .switch-field label {
    background: transparent;
    color: var(--black);
    font-size: 1.3rem;
    text-align: center;
    padding: 4px 10px;
    /* margin-right: -1px; */
    transition: all 0.5s ease-in-out;
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
  }
  .switch-field label:hover {
    cursor: pointer;
    background: var(--black);
    color: var(--green);
  }
  .switch-field input:checked + label {
    background-color: var(--black);
    color: var(--green);
    box-shadow: none;
  }
  /* Submit */
  .single-product #product-add {
    margin-top: 20px;
  }
  .single-product .actions input[type="submit"] {
    background: transparent;
    text-transform: uppercase;
    border: 1px solid var(--black);
    padding: 8px;
    width: 100%;
    cursor: pointer;
  }
  .single-product .actions input[type="submit"]:hover {
    background: var(--black);
    color: var(--green);
    transition: all 0.5s ease-in-out;
  }
  /* Final Details */
  .single-product .final-details p ,
  .single-product .final-details a {
    font-size: 0.7rem;
  }
  .single-product .final-details .size-chart {
    text-transform: uppercase;
  }
  /* Errors */
  .js-ajax-cart-message {
    padding: 20px 0 0 0;
  }

  /* ======================= MEDIA QUERIES */
  
  /* Large devices */
  @media (max-width: 1199.98px) { }
  
  /* Medium devices */
  @media (max-width: 991.98px) { }

  /* Landscape devices */
  @media (max-width: 767.98px) {
    .site-container {
    }
    .single-product .row {
      padding-top: 60px;
      grid-auto-flow: column;
      grid-template-columns: 1fr;
      grid-template-rows: 50vh 1fr;
    }
    .single-product .images {
      height: 100%;
      max-height: 50vh;
    }
    .single-product .images li img {
      object-fit: fit;
      width: 100vw;
      min-height: auto;
      height: 100%;
    }
    .single-product .row .info {
      padding: 20px;
    }
    .single-product .actions {
        width: 60%;
    }
  }

  /* iPhones */
  @media (max-width: 575.98px) {
    .single-product .actions {
        width: 100%;
    }
  }
</style>
  
  {% assign add_to_cart = 'Add to cart' %}
  {% assign sold_out = 'Sold Out' %}
  {% assign unavailable = 'Unavailable' %}
  
  <div itemscope itemtype="http://schema.org/Product">
    
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product | img_url: '720x720', scale: 2 }}" />
    
    {% comment %}
      PRODUCT FORM
    {% endcomment %}
    <form action="/cart/add" method="post" class="single-product" enctype="multipart/form-data" id="add-to-cart">
      <div class="row">
        <div class="images">
          

          <a class="control next">
            <svg xmlns="http://www.w3.org/2000/svg" width="17.434" height="33.454" viewBox="0 0 17.434 33.454">
              <g id="Group_25" data-name="Group 25" transform="translate(0.707 0.707)">
                <path id="Line_10" data-name="Line 10" d="M15.313,16.727-.707.707.707-.707l16.02,16.02Z" transform="translate(0)"/>
                <path id="Line_11" data-name="Line 11" d="M.707,16.727-.707,15.313,15.313-.707,16.727.707Z" transform="translate(0 16.02)"/>
              </g>
            </svg>
          </a>
          <a class="control prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="17.434" height="33.454" viewBox="0 0 17.434 33.454">
              <g id="Group_25" data-name="Group 25" transform="translate(0.707 0.707)">
                <path id="Line_10" data-name="Line 10" d="M15.313,16.727-.707.707.707-.707l16.02,16.02Z" transform="translate(0)"/>
                <path id="Line_11" data-name="Line 11" d="M.707,16.727-.707,15.313,15.313-.707,16.727.707Z" transform="translate(0 16.02)"/>
              </g>
            </svg>
          </a>
  
          <ul class="image-list">
            {% if product.images.size == 0 %}
  
                <li class="placeholder">
                  <img src="{{ '' | img_url: '720x720', scale: 2 }}" alt="{{ product.title }}" />
                </li>
  
            {% else %}
            
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
    
                {% if product.images.size > 1 %}
    
                    <li class="featured-image">
                      <img src="{{ featured_image | img_url: '720x720', scale: 2 }}" alt="{{ product.title | escape }}" />
                    </li>
      
                    {% for image in product.images %}
                        <li class="gallery-image">
                          <img src="{{ image | img_url: '720x720', scale: 2 }}" alt="{{ image.alt | escape }}" />
                        </li>
                    {% endfor %}
    
                {% else %}
    
                    <li>
                      <img src="{{ featured_image | img_url: 'grande' }}" alt="{{ product.title | escape }}" />
                    </li>
                  
                {% endif %}

            {% endif %}
          </ul>
        </div>
  
        {% comment %} INFO {% endcomment %}
        <div class="info">
  
          <div class="title">
            <h1>{{ product.title }}</h1>
          </div>
  
          <div class="description" itemprop="description">
            <p>{{ product.description }}</p>
          </div>
          
          <div id="product-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
            {% if product.available %}
             <link itemprop="availability" href="http://schema.org/InStock" />
            {% else %}
             <link itemprop="availability" href="http://schema.org/OutOfStock" />
            {% endif %}
            <p>
              {% assign variant = product.selected_or_first_available_variant %}
              {% if product.compare_at_price > product.price %}
                <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
                <s class="product-compare-price">{{ variant.compare_at_price | money }}</s>
              {% else %}
                <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
              {% endif %}
            </p>
          </div>
            
          {% assign hide_default_title = false %}
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            {% assign hide_default_title = true %}
          {% endif %}        
  
          <div class="actions">
  
            {% if product.variants.size > 1 %} 
  
              <script type="text/javascript" charset="utf-8">
                jQuery(function() { 
                  var first_variant_price = jQuery("ul li input[type='radio']:checked").attr("data-price");
                  var first_variant_compare_at_price = jQuery("ul li input[type='radio']:checked").attr("data-compare-at-price") || ''; 

                  jQuery(".price-field span").html(first_variant_price);

                  jQuery(".price-field del").html(first_variant_compare_at_price);

                  jQuery("input[type='radio']").click(function() {

                    var variant_price = jQuery(this).attr("data-price");
                    jQuery(".price-field span").html(variant_price);
                    
                    var variant_compare_at_price = jQuery(this).attr("data-compare-at-price") || '';
                    jQuery(".price-field del").html(variant_compare_at_price);

                  });
                });
              </script>

              <ul class="variants-list">
                {% assign found_available_variant = false %}
                {% for variant in product.variants %}
                  <li class="switch-field">
                      {% if variant.available %}
                          <input type="radio"{% if variant.compare_at_price > variant.price %} data-compare-at-price="{{ variant.compare_at_price | money_with_currency }}"{% endif %} data-price="{{ variant.price | money_with_currency }}" id="{{ variant.id }}" value="{{ variant.id }}" name="id"{% if found_available_variant == false  %}{% assign found_available_variant = true %} checked="checked"{% endif %} />
                          
                          <label for="{{ variant.id }}">
                            {{ variant.title }}
                          </label>
                      {% else %}
                          <input type="radio" class="out-of-stock" id="{{ variant.id }}" value="{{ variant.id }}" name="id" disabled="disabled" />
                          <label for="{{ variant.id }}" class="out-of-stock">
                            {{ variant.title }}
                          </label>
                      {% endif %}
                    </li>
                {% endfor %}
              </ul>

              <div data-ajax-cart-messages="form"> 
                <!-- Errors and messages appear here --> 
              </div>
              
          
            {% else %}
          
                <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
          
            {% endif %}
            
            <div id="product-add">
              <input type="submit" name="add" id="add" value="{{ add_to_cart | escape }}">
            </div>

            <div class="final-details">
              <p>Made to order</p>
              <a class="size-chart" href="#" title="Size chart">Download Size Chart</a>
            </div>
  
            {% if form.posted_successfully? %}
                <script>console.log('Comment posted successfully!');</script>
            {% else %}
                {{ form.errors | default_errors }}
            {% endif %}
  
          </div>
  
        </div>{% comment %} end: Info {% endcomment %}
      </div>{% comment %} end: Row {% endcomment %}
  
      {% comment %}
        All themes by Shopify should support the Product Reviews app out of the box.
        https://apps.shopify.com/product-reviews
      {% endcomment %}
      <div id="shopify-product-reviews" data-id="{{ product.id }}">
        {{ product.metafields.spr.reviews }}
      </div>
          
      <div class="pagination">
        {% if collection %}
  
          {% if collection.previous_product or collection.next_product %}
            <div>     
              {% if collection.previous_product %}
                {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
                <span class="left">{{ 'Previous Product' | link_to: prev_url }}</span>
              {% endif %}
  
              {% if collection.next_product %}
                {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
                <span class="right">{{ 'Next Product' | link_to: next_url }}</span>
              {% endif %}
            </div>
          {% endif %}
  
        {% endif %}
      </div>
  
    </form>
  
  </div>

<script>
  Shopify.Image.preload({{ product.images | json }}, 'grande');
  Shopify.Image.preload({{ product.images | json }}, '1024x1024');
</script>

